# fly.toml app configuration file generated for loan-tracker on 2025-11-01T21:26:20+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'loan-tracker'
primary_region = 'syd'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  size = 'shared-cpu-1x'
